@import '../../styles/variables';

.container {
  position: sticky;
  top: 0px;
  height: 50px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.content {
  display: flex;
  width: min(100%, $bp-headers);
  height: 100%;
  margin: auto;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 45px;
  color: #222;
  cursor: pointer;
  &:hover {
    color: #777;
  }
}
.logoWideView {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0px 30px 0px 14px;
  color: #222;
  cursor: pointer;
  &:hover {
    color: #777;
  }
}
.ddm {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 45px;
  color: #222;
  cursor: pointer;
  &:hover {
    color: #777;
  }
}

@media (min-width: $bp-headers) {
  .logo {
    display: none;
  }
  .logoWideView {
    display: flex;
  }
  .ddm {
    display: none;
  }
}
