@import '../../styles/mixins';
@import '../../styles/variables';

.container {
  display: none;
  align-items: center;
  gap: 24px;
  padding: 0px 14px 0px 30px;
  & > div {
    @include standardLink;
    font-size: 0.8125rem;
  }
}

@media (min-width: $bp-headers) {
  .container {
    display: flex;
  }
}
