@import '../../styles/variables';

.container {
  display: none;
  align-items: center;
  gap: 24px;
  padding: 0px 14px 0px 30px;
}
.link {
  font-size: 0.8125rem;
  color: #222;
  cursor: pointer;
  &:hover {
    color: #777;
  }
}
.image {
  display: flex;
  align-items: center;
  height: 34px;
  cursor: pointer;
  & img {
    border-radius: 3px;
  }
  &:hover {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
  }
}

@media (min-width: $bp-headers) {
  .container {
    display: flex;
  }
}
