@import '../../styles/mixins';

.reviewForm {
  @include standardField;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.formTitle {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 8px;
}
.inputGroup {
  @include standardInputGroup;
  font-size: 14px;
  & > label {
    padding-top: 5px;
  }
  & > input,
  & > select,
  & > textarea {
    font-size: 14px;
  }
}
.submitButton {
  width: 140px;
  height: 40px;
  margin: 7px 0px 0px 20%;
}
.errorMessage {
  @include standardErrorMessage;
  margin: 8px 0px 0px 0px;
}
