@import '../../styles/cards';

.card {
  @include card;
}
.rating {
  @include cardRating;
}
.notSaved {
  @include cardToggleButtonOff;
}
.saved {
  @include cardToggleButtonOn;
}
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 22px 25px;
}
.type {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
  font-size: 0.8125rem;
  & > Svg {
    display: flex;
    width: 20px;
    height: 20px;
  }
  & > div {
    color: #999;
  }
}
.title {
  font-size: 0.9375rem;
  font-weight: 500;
}
.author {
  margin-bottom: 14px;
  font-size: 0.75rem;
  color: #bbb;
}
.paid {
  margin-bottom: 14px;
  font-size: 0.75rem;
  color: #888;
}
.free {
  margin-bottom: 14px;
  font-size: 0.75rem;
  color: #3cb043;
}
.editButton {
  margin-left: auto;
  text-decoration: underline;
  cursor: pointer;
  &:hover {
    color: #888;
  }
}
.topicsHeading {
  margin-bottom: 6px;
  font-size: 0.75rem;
  color: #777;
}
.topics {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-bottom: 18px;
  font-size: 0.75rem;
  color: #999;
  & > div {
    max-width: 100%;
    border-radius: 3px;
    padding: 2px 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #f2f2f2;
    cursor: pointer;
    &:hover {
      background: #e9e9e9;
    }
  }
}
.link {
  & > div {
    display: inline-block;
    font-size: 0.8125rem;
    text-decoration: underline;
    color: #999;
    cursor: pointer;
    &:hover {
      color: #888;
    }
  }
}
