@import '../../styles/mixins';

.card {
  @include standardField;
  display: flex;
  color: #555;
}
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 25px;
}
.topLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}
.delete {
  font-size: 0.8125rem;
  text-decoration: underline;
  color: #999;
  cursor: pointer;
  &:hover {
    color: #888;
  }
}
.writtenAtBy {
  font-size: 0.75rem;
  color: #bbb;
}
.title {
  margin-bottom: 2px;
  font-size: 0.9375rem;
  font-weight: 500;
}
.content {
  font-size: 0.8125rem;
  color: #777;
}
.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 55px;
  border-left: 1px solid #e0e4ef;
  border-right: 1px solid #e0e4ef;
  padding: 8px;
  font-size: 0.8125rem;
  color: #555;
  & Svg {
    margin-top: 4px;
  }
}
.notUpvoted {
  @include standardNegativeVoteButton;
  border-left: 1px solid #eee;
  border-radius: 0px 3px 3px 0px;
  & Svg {
    width: 18px;
    height: 18px;
    margin-top: 4px;
  }
}
.upvoted {
  @include standardPositiveVoteButton;
  border-radius: 0px 3px 3px 0px;
  & Svg {
    width: 18px;
    height: 18px;
    margin-top: 4px;
  }
}
