@import '../../styles/variables';

.feedContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: $bp-content;
  margin: auto;
  padding: 8px;
}
.loadMore {
  display: flex;
  justify-content: center;
  padding: 30px 8px 40px;
}
.noMatchFound,
.endOfFeed {
  padding: 20px 8px 40px;
  font-size: 0.8125rem;
  text-align: center;
  color: #bbb;
}
