@import '../../styles/mixins';
@import '../../styles/variables';

.pageTitle {
  @include standardPageTitle;
}
.sortButton {
  @include standardDropDownButton;
  margin-left: auto;
  border-right: 1px solid #ddd;
}
.mainContainer {
  max-width: $bp-content;
  margin: auto;
}
.separator {
  display: flex;
  justify-content: center;
  padding: 0px 8px;
  & > div {
    width: 10%;
    border-top: 3px dotted #ddd;
  }
}
.detailedCard {
  padding: 8px 8px 22px;
}
.reviewContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 22px 8px;
}
