@import './variables';

@mixin standardPageTitle {
  position: sticky;
  top: 50px;
  height: 50px;
  border-bottom: 1px solid #ddd;
  background: #fff;
  & > div {
    display: flex;
    align-items: center;
    max-width: $bp-headers;
    height: 100%;
    margin: auto;
    padding-left: 14px;
    font-size: 0.9375rem;
    color: #222;
  }
}
@mixin standardField {
  border-radius: 3px;
  box-shadow: 0px 0px 1px #aaa;
  background: #fff;
}
@mixin standardLink {
  color: #222;
  cursor: pointer;
  &:hover {
    color: #777;
  }
}
@mixin standardInput {
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  padding: 6px 8px;
  font-family: Poppins, sans-serif;
  font-size: 0.75rem;
  color: #777;
  &:focus {
    box-shadow: 0px 0px 1px #ccc;
  }
  &:focus::placeholder {
    color: transparent;
  }
  &::placeholder {
    color: #bbb;
  }
}
@mixin standardInputGroup {
  display: flex;
  & > label {
    width: 20%;
    padding: 3px 5px 0px;
    color: #333;
  }
  & > input,
  & > select,
  & > textarea {
    @include standardInput;
    width: 80%;
  }
  & > select {
    padding-left: 4px;
  }
  & > textarea {
    min-height: 31.7px;
    resize: vertical;
  }
  &.hasError > input,
  &.hasError > textarea {
    border: 1px solid #e74545;
    border-radius: 3px;
    outline: none;
    &:focus {
      box-shadow: 0px 0px 1px #e74545;
    }
  }
}
@mixin standardErrorMessage {
  margin: 4px 0px 8px 2px;
  padding-left: 20%;
  font-size: 0.75rem;
  color: #e74545;
}
@mixin standardSubmitButtonContainer {
  padding: 6px 0px 0px 20%;
  & > button {
    width: 100%;
    height: 45px;
  }
}
@mixin standardDropDownButton {
  @include standardLink;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 120px;
  height: 100%;
  border-left: 1px solid #ddd;
  padding: 0px 20px;
  font-size: 0.875rem;
  user-select: none;
  cursor: pointer;
  &.active {
    background: #f8f8f8;
  }
}
@mixin standardDropDownArea {
  position: fixed;
  top: 100px;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid #ddd;
  font-size: 0.9375rem;
  color: #222;
  background: #fff;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
  & div.item {
    max-width: $bp-headers;
    margin: auto;
  }
}
@mixin standardDropDownHeading {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 20px;
  font-size: 0.875rem;
  font-style: italic;
  color: #999;
  &:first-child {
    border-top: none;
  }
  & > div {
    max-width: $bp-headers;
    margin: auto;
    padding: 0px 14px;
  }
}
@mixin standardDropDownItem {
  display: inline-flex;
  gap: 20px;
  padding: 20px;
  font-size: 0.875rem;
  color: #222;
  cursor: pointer;
  &:hover {
    color: #888;
  }
  & > .icon {
    margin-top: 2px;
  }
}
@mixin standardDropDownItemContainer {
  max-width: $bp-headers;
  margin: auto;
}
@mixin standardVoteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 55px;
  padding: 8px;
  font-size: 0.8125rem;
  color: #555;
  cursor: pointer;
}
@mixin standardPositiveVoteButton {
  @include standardVoteButton;
  background: #eee;
  &:hover {
    background: #f2f2f2;
  }
}
@mixin standardNegativeVoteButton {
  @include standardVoteButton;
  &:hover {
    background: #fafafa;
  }
}
