@import '../../styles/mixins';

.formContainer {
  max-width: $bp-content;
  margin: auto;
  padding: 8px;
}
.form {
  @include standardField;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}
.formTitle {
  margin-bottom: 5px;
  border-bottom: 1px solid #ddd;
  padding: 0px 5px 8px;
}
.inputGroup {
  @include standardInputGroup;
}
.buttonContainer {
  display: flex;
  gap: 8px;
  padding: 6px 0px 0px 20%;
}
.errorMessage {
  @include standardErrorMessage;
}
.submissionLoaderContainer {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.deleteButton {
  border: 1px solid #dc4f4f;
  color: #dc4f4f;
  &:hover {
    background: #fff4f4;
  }
}
